In [43]:
# IMPORTS

import sqlite3

In [44]:
# CONNECTION

database = "sqlite_db_pythonsqlite.db"
conn = sqlite3.connect(database)
cursor = conn.cursor()

In [45]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members!

query1 = "WITH fac_cost AS (SELECT f.name AS fac_name, \
                                CASE WHEN m.memid = 0 THEN f.guestcost\
                                    ELSE f.membercost END AS cost\
                            FROM Bookings AS b\
                            LEFT JOIN Members AS m\
                            USING(memid)\
                            LEFT JOIN Facilities AS f\
                            USING(facid)\
                            ),\
        tot_rev AS (SELECT fac_name, SUM(cost) AS revenue\
                    FROM fac_cost\
                    GROUP BY fac_name\
                    )\
        \
        SELECT *\
        FROM tot_rev\
        WHERE revenue < 1000;\
        "

cursor.execute(query1)
rows = cursor.fetchall()
print([d[0] for d in cursor.description])
for row in rows:
    print(row)

['fac_name', 'revenue']
('Badminton Court', 604.5)
('Pool Table', 265)
('Snooker Table', 115)
('Table Tennis', 90)

In [46]:
# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

query2 = "SELECT m1.surname, m1.firstname, m2.surname AS rec_surname, m2.firstname AS rec_firstname\
        FROM Members as m1\
        INNER JOIN (SELECT memid, surname, firstname FROM Members) as m2\
        ON m1.recommendedby = m2.memid\
        ORDER BY m1.surname, m1.firstname ASC;\
        "

cursor.execute(query2)
rows = cursor.fetchall()
print([d[0] for d in cursor.description])
for row in rows:
    print(row)

['surname', 'firstname', 'rec_surname', 'rec_firstname']
('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Jack', 'Smith', 'Darren')
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

In [47]:
# Q12: Find the facilities with their usage by member, but not guests

query3 = "WITH book_fac AS (SELECT *\
                            FROM Bookings\
                            LEFT JOIN Facilities\
                            USING(facid)\
                            WHERE memid <> 0)\
        SELECT name, SUM(slots) AS usage_count\
        FROM book_fac\
        GROUP BY facid\
        "

cursor.execute(query3)
rows = cursor.fetchall()
print([d[0] for d in cursor.description])
for row in rows:
    print(row)

['name', 'usage_count']
('Tennis Court 1', 957)
('Tennis Court 2', 882)
('Badminton Court', 1086)
('Table Tennis', 794)
('Massage Room 1', 884)
('Massage Room 2', 54)
('Squash Court', 418)
('Snooker Table', 860)
('Pool Table', 856)

In [48]:
# Q13: Find the facilities usage by month, but not guests

query4 = "WITH by_month AS (SELECT strftime('%m', starttime) AS month, slots\
                            FROM Bookings\
                            WHERE memid <> 0)\
            SELECT month, SUM(slots) AS usage_count\
            FROM by_month\
            GROUP BY month\
        "

cursor.execute(query4)
rows = cursor.fetchall()
print([d[0] for d in cursor.description])
for row in rows:
    print(row)

['month', 'usage_count']
('07', 1061)
('08', 2531)
('09', 3199)